* {
    margin: 0;
}

html {
    scroll-behavior: auto;
}

body {
    font-size: 1.5em;
    margin: 0 auto;
    border: #333 solid 0.0625em;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    width: 80%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1.25em;
    text-align: center;
    border-color: gray;
    border-width: 0.0625em;
    border-style: solid;
    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    border: #333 solid 0.0625em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 80%;
    margin: 2em auto;
    padding: 1em;
    background-color: rgb(224, 226, 233);
}

#indice-receta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0.50em;
    width: 100%;
    scroll-margin-top: 10em;
}

#lista-recetas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-top: 0.50em;
}

.receta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 0.50em;
}

.home {
    display: flex;
    justify-content: end;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1em;
    width: 80%;
    margin-bottom: 5em;
}

article {
    border: #333 solid 0.0625em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    width: 80%;
    margin: 2em auto;
    padding: 1em;
    background-color: rgb(224, 226, 233);
    scroll-margin-top: 5.5em;
}

h4 {
    display: flex;
    justify-content: center;

}

div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 0.5em;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 0.50em;
}

a {
    color: black;
    text-decoration: none;
}

.indice {
    color: #f43a3a;
}
.titulo-receta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #f43a3a;
}

p {
    font-size: medium;
}

.ingredientes, .preparacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25em;
    font-size: medium;
    margin: 1em 0;
}