#datos-personales {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    margin: 1.25em auto;
    background-color: #fff;
    padding: 1.25em;
    border-radius: 0.3125em;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
}

section {
    display: flexbox;
    flex-direction: column;
    background-color: #fff;
    padding: 1.25em;
    border-radius: 0.3125em;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
    justify-items: first flex-start;
    margin-bottom: 1.25em;
}