* {
    margin: 0;
}

body {
    font-size: 1.5em;
    margin: 0 auto;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    width: 80%;
    height: 100%;
}

#datos-personales {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 1.25em;
    margin: 1.25em auto;
    border-radius: 0.3125em;
    box-shadow: 0 0 0.6125em rgba(0, 0, 0, 0.1);
}

#datos-personales {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    height: 100%;
    margin: 1.25em auto;
    background-color: #fff;
    padding: 1.25em;
    border-radius: 0.3125em;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
}

section {
    display: flexbox;
    flex-direction: column;
    background-color: #fff;
    padding: 1.25em;
    border-radius: 0.3125em;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
    justify-items: first flex-start;
    margin-bottom: 1.25em;
}

#detalle-empresa {
    display: flexbox;
    flex-direction: column;
    background-color: #fff;
    padding: 1.25em;
    border-radius: 0.3125em;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
    justify-items: first flex-start;
    margin-bottom: 1.25em;
}

iframe {
    margin: 1.25em auto;
    display: block;
    border-radius: 0.3125em;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
}