* {
    margin: 0;
}

body {
    font-size: 1.5em;
    margin: 0 auto;
    border: #333 solid 0.0625em;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    width: 80%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1.25em;
    text-align: center;
    border-color: gray;
    border-width: 0.0625em;
    border-style: solid;
    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 1em;
    position: relative;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    border-color: gray;
    border-width: 0.0625em;
    border-style: solid;
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

.home {
    display: flex;
    justify-content: end;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

section {
    border: #333 solid 0.0625em;
    border-radius: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    width: 80%;
}

h4 {
    display: flex;
    justify-content: center;

}

.receta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.50em;
}

img {
    width: 60%;
    height: auto;
    border-radius: 1.25em;
}

div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 0.50em;
    /* opcional, asegura que el contenido quede a la izquierda */
}

.contacto {
    display: flex;
    justify-content: start;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 0.5em;
    border: grey solid 0.0625em;
    padding: 1em;
    font-size: 0.8em;
}

.enviar-cancelar {
    display: flex;
    justify-content: center;
    gap: 3em;
    padding-top: 1em;
    flex-direction: row;
}

#enviar {
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.750em;
    width: 10em;
    background-color: #9c99de;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

#cancelar {
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.750em;
    width: 10em;
    background-color: #b36766;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

.class{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 0.3125em;
    color: #3522b2;
    transition: background-color 0.3s ease;
}
