* {
    margin: 0;
}

body {
    font-size: 1.5em;
    margin: 0 auto;
    border: #333 solid 0.0625em;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    width: 80%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1.25em;
    text-align: center;
    border-color: gray;
    border-width: 0.0625em;
    border-style: solid;
    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 1em;
    position: relative;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    border-color: gray;
    border-width: 0.0625em;
    border-style: solid;
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

.home {
    display: flex;
    justify-content: end;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

.contacto {
    display: flex;
    justify-content: start;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 0.5em;
    border: grey solid 0.0625em;
    padding: 1em;
    font-size: 0.8em;
}

.enviar-cancelar {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top: 1em;
}

#enviar {
    padding: 0.5em 1em;
    border: none;
    background-color: #9c99de;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

#cancelar {
    padding: 0.5em 1em;
    border: none;
    background-color: #b36766;
    color: white;
    cursor: pointer;
    font-size: 1em;
}